

.home-page-spacer {
    padding: 0% 20% 0%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    border-radius: 2%;
    
}

.home-page-spacer-containerr {
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 80%;
    
}