.sidebar-item {
    background: #f5f5f5;
    span {
      i.icon {
        margin-right: 20px;
        color: #888888;
      }
    }
  
    &.highlight-item {
      span {
        font-weight: 600;
      }
  
      i.icon {
        color: #ff0002;
      }
    }

}

.sidebar-item-hyperlink {
    text-decoration: none;
    background-color: #f5f5f5;
}

.sidebar-item-hyperlink:hover{
    text-decoration: none;
    color:rgb(90, 90, 30);
}

.sidebar-item-hyperlink:visited{
    text-decoration: none;
    color: black;
}


.sidebar-item-alignment-container {
    padding: 5px 20px 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}