

.sidecar-page-wrapper  {
    padding: 10% 20% 10%;
}

.sidecar-page-container  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidecar-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidecar-right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}