.home-page-image-wrapper {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,  #aaa7a7, #5c5b5b);
    border-radius: 5px;

}
  
.home-page-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg,  #f5f2f2, #5c5b5b);
    padding: 10px 20px 1px;
    
}
  
.home-page-image {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px) ;
    filter: brightness(40%);
    border-radius: 5px;
}
  
.home-page-image-overlay {
    width: 80%;
    height: 500px;
}

  
.home-page-image-title {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(197, 194, 194);
    font-size: 80px;
    backdrop-filter: blur(20px);
    padding: 1px 40px 1px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}